<div
  class="flex items-center gap-1.5 bg-slate-200/60 p-1.5 rounded-2xl overflow-x-auto w-full md:w-auto"
>
  <!-- <button
    (click)="activeCategoryFilter.set('All')"
    [class.bg-white]="activeCategoryFilter() === 'All'"
    [class.text-slate-900]="activeCategoryFilter() === 'All'"
    [class.shadow-xs]="activeCategoryFilter() === 'All'"
    class="px-4 py-2 rounded-xl text-xs font-bold text-slate-600 cursor-pointer whitespace-nowrap"
  >
    All ({{ 0 }})
  </button> -->

  @for (cat of categories(); track cat) {
    <button
      (click)="activeCategoryFilter.set(cat.name || 'all')"
      [class.bg-white]="activeCategoryFilter() === cat.name"
      [class.text-slate-900]="activeCategoryFilter() === cat.name"
      [class.shadow-xs]="activeCategoryFilter() === cat.name"
      class="px-4 py-2 rounded-xl text-xs font-bold text-slate-600 cursor-pointer whitespace-nowrap"
    >
      <a (click)="specCategory.emit(cat.name )" [routerLink]="['/admin']" [queryParams]="{ category: cat.name }"> {{ cat.name }} ({{ cat.count }}) </a>
    </button>
  }
</div>
